h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
}

.nav-block {
    display: flex;
    gap: 40px;
    align-items: center;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}
.page-header {
    background-color: #FFFFFF;
    padding: 0;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
    width: 1440px;
    height: 72px;
    display: flex;
}
a {
    text-decoration: none;
    color: #2E2F42;
}
.logo {
        font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        color: #4D5AE5;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-right: 76px;
        display: inline-block;
        padding-bottom: 24px;
        padding-top: 24px;
        padding-right: 0;
        padding-left: 0;
   
}
.logo-black{
    display: inline-block;
    padding-bottom: 24px;
    padding-top: 24px;
    padding-right: 0;
    padding-left: 0;
    color: #2E2F42;
}



.page-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0;
}
.nav-block .link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 24px;
        text-decoration: none;
        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
        position: relative;
        color: #2E2F42;
}

.link.active {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}
.link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.link:hover, .link:focus {
    color: #404bbf;
}

.contact-link:hover, .contact-link:focus {
    color: #404bbf;
}

.contacts-list {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contacts {
    font-style: normal;
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
   
}
.contact-link {
    list-style: none;
    background-color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section {
    margin: 0 auto;
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    background-repeat: no-repeat;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
        text-transform: capitalize;
        max-width: 496px;

}
.hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    opacity: 1;
    top: 428px;
    left: 636px;
    gap: 10px;
    border: none;
    box-sizing: border-box;
    display: block;
    min-width: 169px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 48px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

.services {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container-flex {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.services-list {
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.services-list .icon-wrapper {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    opacity: 1;
}

svg .icon {
    width: 64px;
    height: 64px;
    fill: #2e2f42;
    color: #4a4aef;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;     
}

.services-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #f4f4fd;
    padding: 120px 0;

}
.team-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
.team-list-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    
}
.team-member {
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;

}
.team-member-role {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-member,
.team-member-role {
    text-align: center;
    width: 100%;
}

.team-member-container {
    padding: 32px 0;
}
.team-list {
    background-color: #FFFFFF;
    color: #2E2F42;
    width: 264px;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-list img {
    width: 264px;
    height: 260px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    display: block;
}

.icons-social-links-team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    margin: 0;

}
.icons-social-links li {
    display: flex;
    align-items: center;

}

.links-social-media-icon {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}   

.links-social-media-icon:hover, .links-social-media-icon:focus {
    background-color: #404bbf;
}


svg .icon-social-links {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
    color: #FFFFFF;   
}

.icon-social-links {
        fill: #f4f4fd;
    }

.media-icon-list {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio {
    padding-top:120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-family: Roboto;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item {
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-item:hover .app-text {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item img {
    width: 360px;
    height: 300px;
    object-fit: cover;
    display: block;
}

.container-app {
position: relative;
overflow: hidden;
transform: translateY(0%);


}

.app-text {
      position: absolute;
      top: 0;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      padding: 40px 32px;
      background-color: #4d5ae5;
      height: 100%;
      width: 100%;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }


.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item-title,
.portfolio-item-description {
    text-align: left;
    width: calc(100% - 32px);
}


.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;

}

.logo-footer {  
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
}
.logo-footer-white {
    color: #f4f4fd;

}
.footer-description {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;
}
.footer-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    width: 96px;
    height: 24px;
    opacity: 1;
    top: 3256px;
    left: 540px;
    text-align: center;
}

.footer-media {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
}

.icons-social-links-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
        align-items: center;
        padding: 0;
            margin: 0;
            padding: 0;
            margin: 0;

}
    

.footer-media-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.logo-footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 120px;
}

.icon-social-links  {
    list-style: none;
 }

 .icon-social-links a {
     display: flex;
     padding: 10px;
     background-color: #4d5ae5;
     border-radius: 50%;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
 }
 
 .links-social-media-footer {
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   } 

   .links-social-media-footer:hover, .links-social-media-footer:focus {
        background-color: #31d0aa;

    }

 .links-social-media-footer:hover,.links-social-media-footer:focus {
            background-color: #31d0aa;    
        
 }
 
 .icon-footer {
        fill: #f4f4fd;
        width: 24px;
        height: 24px;

 }

 .footer-form-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
.footer-wrapper {
    margin-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

 .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
 }

 .form-input-wrapper {
     display: flex;
     align-items: center;
     
 }
.form-footer-title {
    font-weight: 500;
    width: 75px;
    height: 24px;
    top: 100px;
    right: 537px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input ::placeholder {
    color: #FFFFFF;
    opacity: 1;
}
.footer-input::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}
.footer-button {
min-width: 165px;
height: 40px;
border:none;
border-radius:4px;
padding: 8px 24px;
background-color: #4d5ae5;
color: #FFFFFF;
cursor: pointer;
background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif ;
}
.icon-send {
    color: #ffffff;
    fill: white;
    display: inline-block;
    right: 24px;
    top: 10px;
    margin-left: 16px;
    
}
.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #2E2F4266;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
       /* opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}*/

    .modal {
        width: 408px;
        min-height: 584px;
        border-radius: 4px;
        background-color: #fcfcfc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;

    }
    .modal-close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #e7e9fc;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: 24px;
        transition: 0.3s;
        border: 1px solid #0000001A;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .modal-close:hover, .modal-close:focus {
        background-color: #404bbf;
        border: none;
    }

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon {
    fill: #ffffff;
}

.modal-close:focus .close-icon {
    fill: #ffffff;
}
    .modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 16px;
        color: #2e2f42;
    }
    .modal-form {
        display: flex;
        flex-direction: column;
    }
    .modal-field {
        margin-bottom: 8px;
        flex-direction: column;
        align-items: flex-start;
    }
    .modal-field-comment {
        margin-bottom: 16px;
    }
    .modal-input {
        width: 100%;
        border: 1px solid rgba(46, 47, 66, 0.4);
        height: 40px;
        background-color: transparent;
        border-radius: 4px;
        padding-left: 38px;
        box-sizing: border-box;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    .modal-input:focus {
        border-color: #4d5ae5;
    }


    .modal-input-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        opacity: 1;
        margin-bottom: 4px;
        display: block;
        text-align: left;
        align-items: center;
        color: #8e8f99;
        margin-bottom: 4px;
    }

    .modal-field label {
        display: block;
    }

    .modal-field input {
            width: 100%;
            box-sizing: border-box;
        }


.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    
}

.input-icon {
    position: absolute;
    fill: #404040;
    stroke: #404040;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus+.input-icon {
    fill: #4D5AE5 !important;
}
.input-icon:focus {
    border-color: #4a6cf7;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}


.modal-check-label {
    font-size: 12px;
    line-height: 1.17;
    color: #8e8f99;
    letter-spacing: 0.04em;
    margin-left: 8px;
    white-space: nowrap;
    align-items: center;
    cursor: pointer;

}
.modal-check:checked {
    width: 40px;
    height: 40px;
}



.visually-hidden {
   margin-right: 8px;
   align-items: flex-start;
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.policy-accept {
     display: inline-flex;
     width: 16px;
     height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    background-color: transparent;

}

.icon-privacy {
    fill: transparent;
    transition: fill 0.3s ease;
}

.visually-hidden:checked+.modal-check-label .policy-accept {
    background-color: var(--accent-color, #404bbf);
    border: none;
    fill: var(--icon-color, #F4F4FD);
}

.modal-field-checkbox{
    align-items: flex-start;
    margin-bottom: 24px;
}

.policy {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 8px;
}

.modal-button {
    margin:0 auto;
    background-color: #4D5AE5;
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    opacity: 1;
    top: 584px;
    left: 635px;
    gap: 10px;
    border: none;
    box-sizing: border-box;
    display: block;
    min-width: 169px;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}